/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroOuter {
  position: relative;
  height: calc(100vh - 50px);
  background-color: var(--ifm-color-primary);
  color: #fff;
}

.heroContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: start;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 100px;
  gap: 50px;
}

.coverIcon {
  width: 100%;
  max-height: 400px;
  grid-column: span 6 / span 6;
  object-fit: cover;
}

.mainHeading {
  grid-column: span 6 / span 6;
  text-align: left !important;
  margin-top: 50px;
  width: 100%;
}

.spacer {
  margin-top: 50px;
}

@media screen and (max-width: 996px) {
  .heroContainer {
    padding: 0px 50px;
  }

  .coverIcon {
    grid-column: span 12 / span 12;
  }

  .mainHeading {
    grid-column: span 12 / span 12;
    margin-top: 100px;
  }
}

@media screen and (max-width: 640px) {
  .coverIcon {
    max-height: 200px;
  }

  .mainHeading {
    margin-top: 50px;
  }
}
